/* GENERAL START */

body {
    font-family: Courier, serif;
}

h2 {
    font-size: 140%;
    margin: 2vh 5vw -1vh;
    font-style: italic;
}

img {
    background: transparent;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: rgba(250,247,240,1);
    padding: 0 30px;
    margin: auto;
    font-size: 12px;
    z-index: 1;
}

footer h3 {
    padding: auto;
    font-size: 20px;
}

p {
    text-align: justify;
    padding: 10%;
    font-size: 100%;
}

p a {
    color: lightblue;
}

p a:hover {
    color: violet;
    font-weight: bold;
}

.columns {
    display: flex;
    height: 18vh;
    margin: -2.4vh auto;
    text-align: center;
    background-color: rgba(250,247,240,.3);
}

.column1 {
    float: left;
    width: 50%;
    height: auto;
    margin: auto;
    border: 1px solid;
}

.column2 {
    width: 50%;
    height: auto;
    margin: auto;
    border-top: 1px solid;
    display:block;
}

.column2 h2 {
    font-size: 100%;
    margin-bottom: -1vh;
    margin-top: 2.5vh;
}

.yuba {
    padding: 10%;
    z-index: 0;
    margin-bottom: 80px;
}

/*@media (max-width: 767px) {
  .column1,
  .column2 {
    float: none;
    display: block;
    width: 100%;
    padding-top: 2vh;
    }

  .footer {
    margin-top: 60vh;
    width:90%;
    }
  .columns {
    display: block;
    }
}
*/

@media (max-width: 600px) {

  footer h3 {
    font-size: 12px;
  }
}

/* GENERAL END */



/* NAVBAR START */

/* general */
.navbar-default {
    background-color: black;
    opacity: .8;
    border-color: black;
}
/* sebastian portfolio */
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: 	white;
    background-color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    font-weight: bold;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu, .navbar-default .dropdown-menu {
    background-color: black;
    color: white;
  }

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: black;
}

/* NAVBAR END */



/* CAROUSEL START */

.carousel {
    background-color:	rgba(250,247,240,0.3);
}

.carousel-indicators {
	   bottom: 1vh;
     opacity: .8;
     z-index: 0;
}

@media (max-width: 767px) {
  .carousel-indicators {
    bottom: 0.3vh;
    opacity: .8;
  }
}

.carousel-indicators .active {
	  background-color: black;
    border-width: thin;
}
.carousel-indicators li {
	  border-color: lightgrey;
    border-width: thick;
}

.carousel-inner div:nth-child(2+2n) img {
    height: 60vh;
    margin: auto;
    padding-top: 5%;
}

.wrapper {
    height: 15vh;
    display: flex;
}

.carousel-inner img:first-child {
    padding: 4% 15% 2%;
}

@media (max-width: 767px) {
  .carousel-inner img:first-child {
    padding: 10% 5% 5%;
  }
}

  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    font-size: 8vh;
    margin: 2vh -5vw;
}

@media (max-width: 767px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
      font-size: 5vh;
      margin: 2vh -7vw;
  }
}

/* CAROUSEL END */
